
/**
 * 
 */

html, body {
	height: 100%;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 16px;
	color: #222;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

a {
	color: #c2575b;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #f76f76;
	}

h1, h2 {
	font-size: 24px;
}

p {
	margin: 10px 0 10px 0;
	font-size: 15px;
}

small {
	display: block;
	margin: 10px 0 20px 0;
	color: #333;
}


/**
 * 
 */

body {
	-webkit-transition: -webkit-perspective .4s ease;
	   -moz-transition: -moz-perspective .4s ease;
	    -ms-transition: -ms-perspective .4s ease;
	     -o-transition: -o-perspective .4s ease;
	        transition: perspective .4s ease;
	
	-webkit-perspective: 800px;
	   -moz-perspective: 800px;
	    -ms-perspective: 800px;
	     -o-perspective: 800px;
	        perspective: 800px;

 	-webkit-perspective-origin: 0% 50%;
 	   -moz-perspective-origin: 0% 50%;
 	    -ms-perspective-origin: 0% 50%;
 	     -o-perspective-origin: 0% 50%;
 	        perspective-origin: 0% 50%;
}

.meny {
	position: fixed;
	height: 100%;
	width: 300px;
	z-index: 1;
	background: #333;

	margin: 0px;
	padding: 20px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: -webkit-transform .4s ease;
	   -moz-transition: -moz-transform .4s ease;
	    -ms-transition: -ms-transform .4s ease;
	     -o-transition: -o-transform .4s ease;
	        transition: transform .4s ease;

	-webkit-transform-origin: 0% 50%;
	   -moz-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	     -o-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;

	-webkit-transform: rotateY( -30deg ) translateX( -100% );
	   -moz-transform: rotateY( -30deg ) translateX( -100% );
	    -ms-transform: rotateY( -30deg ) translateX( -100% );
	     -o-transform: rotateY( -30deg ) translateX( -100% );
	        transform: rotateY( -30deg ) translateX( -100% );
}

.meny-contents {
	background: #eee;
	padding: 20px;
	width: 100%;
	height: 100%;

	box-shadow: 5px 0px 40px rgba( 0, 0, 0, 0.5 );

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-transition: -webkit-transform .4s ease;
	   -moz-transition: -moz-transform .4s ease;
	    -ms-transition: -ms-transform .4s ease;
	     -o-transition: -o-transform .4s ease;
	        transition: transform .4s ease;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;

	-webkit-transform-origin: 0% 50%;
	   -moz-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	     -o-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}

.meny-active .meny {
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	    -ms-transform: rotateY(0deg);
	     -o-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

.meny-active .meny-contents {
	-webkit-transform: translateX( 300px ) rotateY( 15deg );
	   -moz-transform: translateX( 300px ) rotateY( 15deg );
	    -ms-transform: translateX( 300px ) rotateY( 15deg );
	     -o-transform: translateX( 300px ) rotateY( 15deg );
	        transform: translateX( 300px ) rotateY( 15deg );
}