/*!
 * meny 0.9
 * http://lab.hakim.se/meny
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

/** 
  * Element which wraps all of the other .meny parts 
  */
.meny-wrapper {
	-webkit-perspective: 800px;
	   -moz-perspective: 800px;
	    -ms-perspective: 800px;
	     -o-perspective: 800px;
	        perspective: 800px;

	-webkit-perspective-origin: 0% 50%;
	   -moz-perspective-origin: 0% 50%;
	    -ms-perspective-origin: 0% 50%;
	     -o-perspective-origin: 0% 50%;
	        perspective-origin: 0% 50%;
}

.meny,
.meny-contents {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: -webkit-transform .5s ease;
	   -moz-transition: -moz-transform .5s ease;
	    -ms-transition: -ms-transform .5s ease;
	     -o-transition: -o-transform .5s ease;
	        transition: transform .5s ease;

	-webkit-transform-origin: 0% 50%;
	   -moz-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	     -o-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}

/** 
 * The menu element which expands out from the left.
 */
.meny {
	display: none;
	position: fixed;
	height: 100%;
	width: 300px;
	z-index: 1;
	margin: 0px;
	padding: 20px;

	-webkit-transform: rotateY( -30deg ) translateX( -97% );
	   -moz-transform: rotateY( -30deg ) translateX( -97% );
	    -ms-transform: rotateY( -30deg ) translateX( -97% );
	     -o-transform: rotateY( -30deg ) translateX( -97% );
	        transform: rotateY( -30deg ) translateX( -97% );
}
	.meny-ready .meny {
		display: block;
	}
	.meny-active .meny {
		-webkit-transform: rotateY( 0deg );
		   -moz-transform: rotateY( 0deg );
		    -ms-transform: rotateY( 0deg );
		     -o-transform: rotateY( 0deg );
		        transform: rotateY( 0deg );
	}

/** 
 * Page contents which gets pushed aside while meny is active.
 */
.meny-contents {
	background: #eee;
	padding: 20px 40px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
	.meny-active .meny-contents {
		-webkit-transform: translateX( 300px ) rotateY( 15deg );
		   -moz-transform: translateX( 300px ) rotateY( 15deg );
		    -ms-transform: translateX( 300px ) rotateY( 15deg );
		     -o-transform: translateX( 300px ) rotateY( 15deg );
		        transform: translateX( 300px ) rotateY( 15deg );
	}

/**
 * A shadow-like element placed on top of the contents while 
 * meny is active.
 */
.meny-contents .cover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 1000;
	opacity: 0;

	background: -moz-linear-gradient(left,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
	.meny-ready .meny-contents .cover {
		display: block;
	}
	.meny-active .meny-contents .cover {
		visibility: visible;
		opacity: 1;
	}

/**
 * Graphic that highlights menu availability while inactive.
 */
.meny-arrow {
	position: absolute;
	top: 45%;
	left: 12px;
	z-index: 10;
	font-family: sans-serif;

	font-size: 20px;
	color: #333;

	-webkit-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	    -ms-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	     -o-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	        transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
	.meny-active .meny-arrow {
		left: -40px;
		opacity: 0;
	}



