/*!
 * meny 0.5
 * http://lab.hakim.se/meny
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

* {
	margin: 0;
	padding: 0;
}

html, 
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

/** 
  * Element which wraps all of the other .meny parts 
  */
.meny-wrapper {
	-webkit-perspective: 800;
	   -moz-perspective: 800;
	    -ms-perspective: 800;
	     -o-perspective: 800;
	        perspective: 800;

	-webkit-perspective-origin: 0% 50%;
	   -moz-perspective-origin: 0% 50%;
	    -ms-perspective-origin: 0% 50%;
	     -o-perspective-origin: 0% 50%;
	        perspective-origin: 0% 50%;
}

.meny,
.meny-contents {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: -webkit-transform .5s ease;
	   -moz-transition: -moz-transform .5s ease;
	    -ms-transition: -ms-transform .5s ease;
	     -o-transition: -o-transform .5s ease;
	        transition: transform .5s ease;

	-webkit-transform-origin: 0% 50%;
	   -moz-transform-origin: 0% 50%;
	    -ms-transform-origin: 0% 50%;
	     -o-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}

/** 
 * The menu element which expands out from the left.
 */
.meny {
	display: none;
	position: fixed;
	height: 100%;
	width: 300px;
	z-index: 1;
	margin: 0px;
	padding: 20px;

	-webkit-transform: rotateY( -30deg ) translateX( -97% );
	   -moz-transform: rotateY( -30deg ) translateX( -97% );
	    -ms-transform: rotateY( -30deg ) translateX( -97% );
	     -o-transform: rotateY( -30deg ) translateX( -97% );
	        transform: rotateY( -30deg ) translateX( -97% );
}
	.meny-ready .meny {
		display: block;
	}
	.meny-active .meny {
		-webkit-transform: rotateY( 0deg );
		   -moz-transform: rotateY( 0deg );
		    -ms-transform: rotateY( 0deg );
		     -o-transform: rotateY( 0deg );
		        transform: rotateY( 0deg );
	}

/** 
 * Page contents which gets pushed aside while meny is active.
 */
.meny-contents {
	background: #eee;
	padding: 20px 40px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
	.meny-active .meny-contents {
		-webkit-transform: translateX( 300px ) rotateY( 15deg );
		   -moz-transform: translateX( 300px ) rotateY( 15deg );
		    -ms-transform: translateX( 300px ) rotateY( 15deg );
		     -o-transform: translateX( 300px ) rotateY( 15deg );
		        transform: translateX( 300px ) rotateY( 15deg );
	}

/**
 * A shadow-like element placed on top of the contents while 
 * meny is active.
 */
.meny-contents .cover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 1000;
	opacity: 0;

	background: -moz-linear-gradient(left,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
	.meny-ready .meny-contents .cover {
		display: block;
	}
	.meny-active .meny-contents .cover {
		visibility: visible;
		opacity: 1;
	}

/**
 * Graphic that highlights menu availability while inactive.
 */
.meny-arrow {
	position: absolute;
	top: 45%;
	left: 12px;
	z-index: 10;
	font-family: sans-serif;

	font-size: 20px;
	color: #333;

	-webkit-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	   -moz-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	    -ms-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	     -o-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
	        transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
	.meny-active .meny-arrow {
		left: -40px;
		opacity: 0;
	}


/**
 * Fallback for browsers that don't support transforms.
 */

.meny-no-transform .meny,
.meny-no-transform .meny-contents {
	-webkit-transition: left .4s ease;
	   -moz-transition: left .4s ease;
	    -ms-transition: left .4s ease;
	     -o-transition: left .4s ease;
	        transition: left .4s ease;
}

.meny-no-transform .meny {
	left: -300px;
}
	.meny-no-transform.meny-active .meny {
		left: 0px;
	}

.meny-no-transform .meny-contents {
	position: absolute;
}
	.meny-no-transform.meny-active .meny-contents {
		left: 300px;
	}


/**
 * Styles for the folding effect.
 */

.meny-fold .meny,
.meny-fold .meny-contents {
	-webkit-transition: -webkit-transform 0.6s ease;
	   -moz-transition: -moz-transform 0.6s ease;
	    -ms-transition: -ms-transform 0.6s ease;
	     -o-transition: -o-transform 0.6s ease;
	        transition: transform 0.6s ease;
}

.meny-fold .meny-contents {
	position: fixed;
	z-index: 3;
}

.meny-fold .meny {
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.meny-fold .meny.right .cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 1;

	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(90%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
}
	.meny-ready .meny-fold .meny.right .cover {
		-webkit-transition: opacity 0.6s ease;
		   -moz-transition: opacity 0.6s ease;
		    -ms-transition: opacity 0.6s ease;
		     -o-transition: opacity 0.6s ease;
		        transition: opacity 0.6s ease;
	}
	.meny-active .meny-fold .meny.right .cover {
		opacity: 0;
	}

.meny-fold .meny.left {
	clip: rect( 0px, 150px, 10000px, 0px );

	-webkit-transform: translate3d( -150px, 0, -300px ) rotateY( 90deg ) scale(1.25);
	   -moz-transform: translate3d( -150px, 0, -300px ) rotateY( 90deg ) scale(1.25);
	    -ms-transform: translate3d( -150px, 0, -300px ) rotateY( 90deg ) scale(1.25);
	     -o-transform: translate3d( -150px, 0, -300px ) rotateY( 90deg ) scale(1.25);
	        transform: translate3d( -150px, 0, -300px ) rotateY( 90deg ) scale(1.25);
}
	.meny-active .meny-fold .meny.left {
		clip: initial;
	}

.meny-fold .meny.right {
	clip: rect( 0px, 300px, 10000px, 150px );

	-webkit-transform: translate3d( -150px, 0, -300px ) rotateY( -90deg ) scale(1.25);
	   -moz-transform: translate3d( -150px, 0, -300px ) rotateY( -90deg ) scale(1.25);
	    -ms-transform: translate3d( -150px, 0, -300px ) rotateY( -90deg ) scale(1.25);
	     -o-transform: translate3d( -150px, 0, -300px ) rotateY( -90deg ) scale(1.25);
	        transform: translate3d( -150px, 0, -300px ) rotateY( -90deg ) scale(1.25);
}

.meny-active .meny-fold .meny.left,
.meny-active .meny-fold .meny.right {
	-webkit-transform: rotateY( 0deg );
	   -moz-transform: rotateY( 0deg );
	    -ms-transform: rotateY( 0deg );
	     -o-transform: rotateY( 0deg );
	        transform: rotateY( 0deg );
}


/**
 * Styles that are more or less specific to the demo page:
 */

a {
	color: #c2575b;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #f76f76;
	}

h1, 
h2 {
	font-size: 24px;
}

.meny {
	background: #333;
	color: #eee;
}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: rgba( 255, 255, 255, 0.2 );
			}

.meny-contents>article {
	max-width: 400px;
}
.meny-contents p {
	margin: 10px 0 10px 0;
	font-size: 16px;
	line-height: 1.32;
}

.meny-contents small {
	display: block;
	margin-top: 10px;
	padding-top: 10px;
	color: #333;
	font-size: 0.85em;
	border-top: 1px dashed #ccc;

	-webkit-text-size-adjust: none;
}

.meny-contents .sharing {
	position: absolute;
	bottom: 20px;
}


